.dashboard-index-grid {
  display: grid;
  grid-template-columns: 25% auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.user-area {
  display: grid;
  height: 75vh;
  grid-template-columns: 100%;
  grid-template-rows: 50% 11fr 8fr 8fr 4fr;
  position: sticky;
  top: 70px;
  left: 0;
  // padding: 10px;
  // background-color: yellow;
  // border: 1px solid #E2E2E2;
}

.user-image-container {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  // background-color: red;
  overflow: hidden;
}

.dashboard-user-image {
  border-radius: 20px;
  border: 1px solid #C2C2C2;
  // background-color: blue;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.user-info {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  // background-color: pink;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.user-credits {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  // background-color: orange;
  h3 {
    color: #008e82;
    margin: 0px;
  }
  p {
    margin: 3px 0px 0px 0px;
    font-size: 14px;
  }
  h4 {
    color: #008e82;
    margin: 0px 10px 0px 0px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
  }
}

.user-stats {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  // background-color: pink;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  p {
    font-size: 14px;
  }
  strong {
    color: #008e82;
  }
}

.buy-more-credits {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  // background-color: purple;
  text-align: center;
  justify-content: space-around;
}

.user-items-lent {
  // background-color: white;
}

.user-items-borrowed {
  // background-color: black;
}

.dashboard-rating-block-container {
  justify-content: flex-end;
}

.dashboard-rating-block {
  width: 50px;
  height:40px;
  background-color: #ebd351;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-user-rating > p {
    margin: 0px;
    font-size: 16px;
}

.dashboard-user-first-name > h4 {
  margin: 0px;
}

.request-message {
  margin-bottom: 5px;
}

.new-item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
}

.add-item-lrg {
  font-size: 50px;
  margin-bottom: 10px;
}
