.hp-footer {
  background-color: $light-gray;
  display: flex;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  justify-content: space-between;
}

.link-section {
  display: flex;
  padding-bottom: 40px;
  padding-top: 40px;
}

.hpf-links {
  padding: 10px 50px;
}

.hpf-links h3 {
  color: #454545;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.hpf-links a {
  font-size: 15px;
}

.hpf-links ul {
  list-style-type: none;
  padding: 6px 0;
}

.hpf-links ul li {
  padding: 3px 0;
}

.hpf-social-links {
  display: flex;
  align-items: center;
  margin: 0px 0px 40px 150px;
  color: $green;
}

.fa-github:before {
  content: "\f09b";
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-instagram:before {
  content: "\f16d";
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-facebook:before {
  content: "\f09a";
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-twitter:before {
  content: "\f099";
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-linkedin:before {
  content: "\f08c";
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.col-hpf {
  height: 50px;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-hpf .hpf-item {
  color: #454545;
  font-size: 16px;
  font-weight: bold;
  padding: 0 80px;
}
