// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  // align-items: center;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-family: 'Lobster', cursive;
  font-size: 140px;
  color: $light-gray;
  margin-bottom: 0px;
}
.banner p {
  font-size: 25px;
  color: $light-gray;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.banner-content {
  margin: 110px 170px 170px 170px;
}

.searchbar {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.about h2 {
  font-size: 35px;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 50px;
  text-align: center;
  width: 1200px;
  font-size: 30px;
}

.about {
  height: 700px;
}

.home-text-card i {
  text-align: center;
  color: $green;
  font-size: 70px;
  margin: 20px;
}
