.index-grid {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.map-area {
  grid-row: 1;
  height: auto;
}

.filter-area {
  position: sticky;
  text-align: center;
  grid-row: 1;
  top: 60px;
  left: 0;
}

.cards-area {
  grid-column: 2 / span 1;
  grid-row: 2;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

