.grid {
  display: grid;
  grid-template-columns: auto 30% 35%;
  grid-template-rows: 350px auto auto auto;
  // border: solid;
  // border-color: black 1px;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
 .picture-frame {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  // background-color: blue;
  position: relative;
  overflow: hidden;
}

.item-photo {
  background-position: center;
  background-size: cover;
  border: 1px solid #C2C2C2;
}

#item-picture {
  width:100%;
  height:100%;
  object-fit: cover;
}
 .item-key-info {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  // background-color: red;
}
 .item-key-info p {
  font-size: 16px;
  margin-bottom: 5px;
 }
 .item-key-info h2 {
  margin-top: 0px;
  margin-bottom: 5px;
 }
 .item-rating {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  // background-color: green;
}
 .item-description {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  margin-bottom: 40px;
  // display: flex; OPTIONAL
  // align-items: center;
}
 .item-reviews {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  // background-color: yellow;
  overflow: hidden;
}
 #map {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-color: #8CDEFC;
  border: 1px solid #C2C2C2;
}
 .item-calendar {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
  // background-color: orange;
}
 .rating-block {
  width: 60px;
  height:45px;
  background-color: $yellow;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 0px;
}
 .rating-block p {
  line-height: 40px;
}
 #reviews-number {
  font-size: 16px;
  margin-left: 15px;
}
 .inline h4 {
  margin-left: 15px;
}
 .inline {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.kill-margin-top {
  margin-top: 0;
}
.kill-margin-bottom {
  margin-bottom: 0;
}
.rating-bar {
  width: 100%;
  height: 7px;
  border-radius: 15px;
  background-color: white;
}
.user-rating {
  font-size: 14px;
}
.reviewer {
  margin-left: 10px;
}
.item-reviews p {
  font-size: 14px;
}
.user-rating p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.review {
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}
.review:last-child {
  margin-bottom: 50px;
  border-bottom: none;
}
.stars {
  // margin-top: 20px;
}

.booking-form-borrowbox {
  text-align: center;
  margin-top: 10px;
}

.item-credits-per-day > .credits-icon {
  font-size: 25px;
}

.credits-per-day-figure {
  margin-top: 8px;
}

.booking-dates-title {
  font-size: 14px;
}
