<div class="wrapper">
  <div class="container">
    <div class="index-grid">
      <div class="user-area">
        <div class="user-image-container">
          <!-- <div class="dashboard-user-image"></div> -->
          <img src="https://images.unsplash.com/photo-1476493279419-b785d41e38d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80" class="dashboard-user-image">
        </div>
        <div class="user-info inline">
          <div class="dashboard-user-first-name">
            <h4>Ben Dover</h4>
          </div>
          <div class="dashboard-user-rating">
            <div class="dashboard-rating-block-container inline">
              <div class="dashboard-rating-block"><strong>8.5</strong></div>
            </div>
            <p>Your rating</p>
          </div>
        </div>
        <div class="user-credits">
          <h3><strong>18,000</strong></h3>
          <p>Credits</p>
        </div>
        <div class="user-stats inline">
          <div class="user-items-lent">
            <strong>136</strong>
            <p>Items lent</p>
          </div>
          <div class="user-items-borrowed">
            <strong>136</strong>
            <p>Items borrowed</p>
          </div>
        </div>
        <div class="buy-more-credits inline">
          <button type="button" class="btn btn-primary">Buy More Credits</button>
        </div>

      </div>
      <div class="list-area">


        <div class="booking-card-grid">
          <div class="booking-card-request-info-section">
            <h4>Shannon's Drill</h4>
            <h6><strong>21st December - 24th December</strong></h6>
          </div>
          <div class="booking-card-request-message-section">
            <strong>Your message:</strong>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
          <div class="booking-card-footer-right">
            <div class="read-message-container">
              <button type="button" class="btn btn-primary">Read message</button>
            </div>
            <div class="mark-item-container">
            <button type="button" class="btn btn-primary">Item received</button>
            </div>
          </div>
          <div class="booking-card-image-container">
            <div class="card-avatar position-absolute z-index-ten"></div>
            <div class="booking-card-image"></div>
          </div>
          <div class="booking-card-footer">
            <div class="card-rating-box">
              <h6><i class="fas fa-star"></i>8.5</h6>
            </div>
            <div class="card-credits-box">
              <h6>350</h6>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
