<p>hello?</p>
<div class="wrapper">
  <div class="container">
    <div class="index-grid">
      <div class="filter-area">
        <button type = "button" class="btn btn-secondary" id="show-map">Show Map</button>
        <div class="filter-form"></div>
      </div>
      <div class="cards-area">

        <div class="item-card-grid">
          <div class="item-card-image-container">
            <div class="card-avatar position-absolute z-index-ten"></div>
            <div class="item-card-image"></div>
          </div>
          <div class="item-card-lender">
            <p>Shannon's drill</p>
          </div>
          <div class="item-card-name">
            <h4>5 Speed Drill</h4>
          </div>
          <div class="item-card-description">
            <p>This drill will blow your mind. It's fast and has 5 speeds.</p>
          </div>
          <div class="item-card-footer">
            <div class="card-rating-box">
              <h6><i class="fas fa-star"></i>8.5</h6>
            </div>
            <div class="card-credits-box">
              <h6>350</h6>
            </div>
          </div>
        </div>

        <!-- copied card -->
        <div class="item-card-grid">
          <div class="item-card-image-container">
            <div class="card-avatar position-absolute z-index-ten"></div>
            <div class="item-card-image"></div>
          </div>
          <div class="item-card-lender">
            <p>Shannon's drill</p>
          </div>
          <div class="item-card-name">
            <h4>5 Speed Drill</h4>
          </div>
          <div class="item-card-description">
            <p>This drill will blow your mind. It's fast and has 5 speeds.</p>
          </div>
          <div class="item-card-footer">
            <div class="card-rating-box">
              <h6><i class="fas fa-star"></i>8.5</h6>
            </div>
            <div class="card-credits-box">
              <h6>350</h6>
            </div>
          </div>
        </div>

        <!-- copied card -->
        <div class="item-card-grid">
          <div class="item-card-image-container">
            <div class="card-avatar position-absolute z-index-ten"></div>
            <div class="item-card-image"></div>
          </div>
          <div class="item-card-lender">
            <p>Shannon's drill</p>
          </div>
          <div class="item-card-name">
            <h4>5 Speed Drill</h4>
          </div>
          <div class="item-card-description">
            <p>This drill will blow your mind. It's fast and has 5 speeds.</p>
          </div>
          <div class="item-card-footer">
            <div class="card-rating-box">
              <h6><i class="fas fa-star"></i>8.5</h6>
            </div>
            <div class="card-credits-box">
              <h6>350</h6>
            </div>
          </div>
        </div>

        <!-- copied card -->
        <div class="item-card-grid">
          <div class="item-card-image-container">
            <div class="card-avatar position-absolute z-index-ten"></div>
            <div class="item-card-image"></div>
          </div>
          <div class="item-card-lender">
            <p>Shannon's drill</p>
          </div>
          <div class="item-card-name">
            <h4>5 Speed Drill</h4>
          </div>
          <div class="item-card-description">
            <p>This drill will blow your mind. It's fast and has 5 speeds.</p>
          </div>
          <div class="item-card-footer">
            <div class="card-rating-box">
              <h6><i class="fas fa-star"></i>8.5</h6>
            </div>
            <div class="card-credits-box">
              <h6>350</h6>
            </div>
          </div>
        </div>

      </div>



        <!-- <div class="map-area"></div> -->
    </div>
  </div>
</div>
