<div class="hp-credits">
  <div class="hpc-container">

    <h3 class="hpc-text-card-title"><b>Our credits system</b></h3>

    <div class="hpc-circle">
      <h3 class="hpc-b"> b </h3>
    </div>

    <p class="hpc-text-card">Borrowbox uses a unique system which rewards people with credits for lending, which can in turn be used to borrow from others. This system encourages a delicate balance between lending and borrowing. Don't want to lend out your stuff? No problem, you can buy credits quickly and easily in just one click.</p>

  </div>
</div>
