  <div class="hp-footer">
      <div class="link-section">
        <div class="hpf-links">
          <h3>Support</h3>
          <ul class="footer-list">
            <li><a href="#">Help & Wiki</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="hpf-links">
          <h3>About</h3>
          <ul class="hpf-list">
            <li><a href="#">What We're About</a></li>
            <li><a href="#">Our Credits System</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
        <div class="hpf-links">
          <h3>Community & Tools</h3>
          <ul class="hpf-list">
            <li><a href="#">House Rules</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Cookies Policy</a></li>
          </ul>
        </div>

        <div class="hpf-social-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

<div class="col-hpf">
  <div class="hpf-item">© 2018 Borrowbox. All Rights Reserved.</div>
  <li>
    <h5><a href="#home1"><i class="fas fa-caret-up"></i></a></h5>
  </li>
  <div class="hpf-item">Made at Le Wagon, Lisbon 🇵🇹</div>
</div>

