<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1426927308491-6380b6a9936f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');">
  <div class="banner-content">
    <h1>Borrowbox</h1>
    <p>Stop buying. Start borrowing.</p>
    <div class="searchbar">
      <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :name,
      params[:name],
      class: "form-control",
      placeholder: "Find an item"
      %>
      <% end %>
      <%= link_to items_path, class: "btn btn-primary" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="white">
  <div class="container">
    <div class="row">
      <h2>Some clever about text is about to appear here. About why you definitely need an alpaca rental in your life.</h2>
    </div>
     <div class="row row-cards">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h3>Choose</h3>
          <i class="fa fa-mouse-pointer"></i>
          <p>Pick a category and find all alpacas available for your endeavour.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h3>Book</h3>
          <i class="fas fa-birthday-cake"></i>
          <p>Book your alpaca, get it delivered, and have an awesome day!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h3>Review</h3>
          <i class="fas fa-star"></i>
          <p>Share your experience with other alpaca lovers by leaving your review.</p>
        </div>
      </div>
    </div>
  </div>
</div>

