<div class="item-key-info">
  <h2><%= @item.name %></h2>
  <p><%= @item.address %></p>
  <p><strong><%= @item.credits %> Credits</strong> per day</p>
</div>
<div class="item-description">
  <h5><strong>Item description</strong></h5>
  <p><%= @item.description %></p>
</div>
