<div class="modal fade" id="<%="mtl_modal_#{@item.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leave a message for <%= "#{@item.user.first_name}" %></h5>
      </div>
      <div class="col-xs-12" style="margin-top:25px;">
        <%= f.input :request_message, input_html: {:rows => 3}, label: false %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-beige btn-sm" data-dismiss="modal">Close</button>
        <%= f.submit "Send request", class: "btn-green btn-sm" %>
      </div>
    </div>
  </div>
</div>
