<div class=".mapboxgl-popup">
  <div class="item-card-image-container">
    <div class="card-avatar position-absolute z-index-ten"></div>
    <div class="item-card-image"></div>
  </div>
  <div class="item-card-lender">
    <p><%= item.user.first_name %>'s</p>
  </div>
  <div class="item-card-name">
    <h4><%= item.name %></h4>
  </div>
</div>
