<%= link_to item_path(item) do %>
  <div class="mapbox-card">
    <div class="mapbox-card-image" style="background-image: url(<%= item.photo_fake %>)
              "></div>
    <div class="item-card-lender">
      <p><%= item.user.first_name %>'s</p>
    </div>
    <div class="item-card-name">
      <h6><%= item.name %></h6>
    </div>
  </div>
<% end %>
