<h1>Search results</h1>
<p>This is where the cards will be</p>

<%= render 'items/search_form' %>

<ul>
<% @items.each do |item| %>
  <li>
    <%= item.name %>
    <%= link_to "show", item_path(item) %>
  </li>
<% end %>
</ul>
