<div class="booking-card-footer">
  <div class="card-rating-box">
    <% if booking.item.comb_rating.nil? %>
      <h6><i class="fas fa-star"></i>n/a</h6>
    <% else %>
      <h6><i class="fas fa-star"></i><%= booking.item.comb_rating.round(1) %></h6>
    <% end %>
  </div>
  <div class="card-credits-box">
    <h6><%= booking.item.credits %></h6>
  </div>
</div>
